// variables

// Colors
$fg: #2f2f2f; // font color
$fg-50: rgba(33, 33, 33, 0.5); //side text color on the blog, article page
$bg: #edffec; //background color
$bg-navbar: #313638; //navbar background color

$cardItemBoxShadow: #61e786; //Box-shadow
$cardItemBoxShadow2: #61e786; // You can use the same color here as well or more darker color
$titleSeletedBoxShadow: #61e786; //Shadow of the Application and Algorithm buttons
$cardPeopleBoxShadow: rgb(204, 255, 201); //Card shadow on the people page.
$cardPeopleBoxShadow2: rgb(158, 255, 153); // Could be same with the previous one or more darker color

// font #313638 #04151F #2f2f2f
// shadow #61E786 #DD6E42

$bg-card: #f2fdff; //background color of the cards
$coolGray: rgb(53, 43, 43);
$selectedColor: rgb(32, 83, 36);
$publicationColor: rgba(0, 0, 0, .87);

// Dimensions

$mobileSize: 900px;
$xLargeSize: 1280px;
// Fonts
$ff: 'Raleway', sans-serif;
//$ff: "Lato", Helvetica, sans-serif;
