// variables

// Colors
$fg: rgb(33, 33, 33);
$bg: rgb(255, 255, 255);
$coolGray: rgb(53, 43, 43);
$selectedColor: rgb(32, 83, 36);
$publicationColor: rgba(0, 0, 0, .87);

// Dimensions

$mobileSize: 900px;

// Fonts
$ff: "Lato", Helvetica, sans-serif;
