@import './variables';
@import './initials';
@import './navbar';
@import './publication';
@import './cards-work';
@import './_cards-people';
@import './cards-persons';
@import './accordion';
@import './staff';

.container {
	margin-right: 39px;
	margin-left: 39px;
	max-width: inherit;
}

@media (max-width: $mobileSize) {
	.container {
		margin-right: 13px;
		margin-left: 13px;
		max-width: inherit;
	}
}

.all-content {
	background-color: $bg;
	flex: 1;
	width: 0;
	min-width: 0;
}
@media (max-width: $mobileSize) {
	.all-content {
		background-color: $bg;
		flex: 1;
		width: initial;
	}
}
.header-headline {
	flex: 1;
	font-size: 1.4rem;

	h1 {
		font-size: 3rem;
		font-weight: bold !important;
	}
}

.header-explanation {
	flex: 3;
	font-size: 1.2rem;
}

.header-card-headline {
	flex: 1;
	align-items: center;
	font-size: 1.2rem;
}

.card-headline-container {
	display: flex;
	align-items: center;
	text-align: center;
}

.header-window {
	padding: 0;
	text-align: center;
}

.header-pm {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.balance-text {
	white-space: wrap;
}

.font-normal {
	font-weight: normal !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.overflow-x-auto {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.mb-1 {
	margin-bottom: 1rem !important;
}
.mb-n2 {
	margin-bottom: -3rem !important;
}

.mb-2 {
	margin-bottom: 2rem !important;
}

.pb-2 {
	padding-bottom: 3rem !important;
}

a {
	color: #111111;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.my-1\/2 {
	margin: 0.5rem 0 !important;
}

.my-1 {
	margin: 1rem 0;
}

.color-fg-50 {
	color: $fg-50;
}

.no-shadow {
	box-shadow: none;
}

.no-background {
	background-color: $bg;
}

.projects-1 {
	align-items: center;
	text-align: center;
}

.small-text {
	font-size: 0.9em;
	letter-spacing: 0.15em;
	font-weight: normal;
}

@media (min-width: $mobileSize) {
	.d-m-none {
		display: none !important;
	}
}

p {
	// white-space: nowrap;
}

.publication-lists {
	margin: 1rem 2rem;
}

.publication-item {
	margin: 1rem 0;
}
